[api]
# Bot API key
key = 123456789
# Notification channel
channel = 012345678901234567

[gatekeeper]
# Access an outside server for gatekeeper logs
username = gatekeep
password = ga$1ight_g1rlb0$s
ip = example.com
command = cd

[printserver]
# access an outside server for gatekeeper logs
username = printer
password = PrInt3r$_aRE_h31L
ip = example.com
command = cd

[servers]
# Server IDs in which the bot is allowed to interact with
server_list = server1, server2, server3, etc...
