[api]
# Bot API key
key = 123456789

[gatekeeper]
# Acess an outside server for gatekeeper logs
username = gatekeep
password = ga$1ight_g1rlb0$s
ip = examlpe.com

[servers]

# Server IDs in which the bot is allowed to interact with
server_list = server1, server2, server3, etc...
